@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 2rem;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
  h4 {
    @apply text-base;
    @apply font-bold;
  }
}

@layer utilities {
  .animation-delay-75 {
    animation-delay: 75ms;
  }
  .animation-delay-150 {
    animation-delay: 150ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
}

* {
  scrollbar-color: var(--color-accent10) var(--color-accent4);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--color-accent4);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-accent10);
  border-radius: 14px;
}

.light-theme {
  --color-accent1: #fdfcfe;
  --color-accent2: #fbfaff;
  --color-accent3: #f5f2ff;
  --color-accent4: #ede9fe;
  --color-accent5: #e4defc;
  --color-accent6: #d7cff9;
  --color-accent7: #c4b8f3;
  --color-accent8: #aa99ec;
  --color-accent9: #6e56cf;
  --color-accent10: #644fc1;
  --color-accent11: #5746af;
  --color-accent12: #20134b;

  --color-gray1: #fdfcfd;
  --color-gray2: #f9f8f9;
  --color-gray3: #f4f2f4;
  --color-gray4: #eeedef;
  --color-gray5: #e9e8ea;
  --color-gray6: #e4e2e4;
  --color-gray7: #dcdbdd;
  --color-gray8: #c8c7cb;
  --color-gray9: #908e96;
  --color-gray10: #86848d;
  --color-gray11: #6f6e77;
  --color-gray12: #1a1523;

  --color-background: var(--color-gray1);
  --color-appUiBackground1: var(--color-accent7);
  --color-appUiBackground2: var(--color-accent8);

  --color-text: var(--color-gray12);
  --color-heading: black;
}

:root {
  --font-family-text: "Nunito Sans";
  --font-family-heading: "Lora", "serif";

  --radii: 6px;

  --transition-basic: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --color-accent1: #17151f;
  --color-accent2: #1c172b;
  --color-accent3: #251e40;
  --color-accent4: #2c2250;
  --color-accent5: #32275f;
  --color-accent6: #392c72;
  --color-accent7: #443592;
  --color-accent8: #5842c3;
  --color-accent9: #6e56cf;
  --color-accent10: #7c66dc;
  --color-accent11: #9e8cfc;
  --color-accent12: #f1eefe;

  --color-secondary1: #0f1720;
  --color-secondary2: #0f1b2d;
  --color-secondary3: #10243e;
  --color-secondary4: #102a4c;
  --color-secondary5: #0f3058;
  --color-secondary6: #0d3868;
  --color-secondary7: #0a4481;
  --color-secondary8: #0954a5;
  --color-secondary9: #0091ff;
  --color-secondary10: #369eff;
  --color-secondary11: #52a9ff;
  --color-secondary12: #eaf6ff;

  --color-gray1: #161618;
  --color-gray2: #1c1c1f;
  --color-gray3: #232326;
  --color-gray4: #28282c;
  --color-gray5: #2e2e32;
  --color-gray6: #34343a;
  --color-gray7: #3e3e44;
  --color-gray8: #504f57;
  --color-gray9: #706f78;
  --color-gray10: #7e7d86;
  --color-gray11: #a09fa6;
  --color-gray12: #ededef;

  --color-background: var(--color-gray1);
  --color-appUiBackground1: var(--color-accent5);
  --color-appUiBackground2: var(--color-accent6);

  --color-text: var(--color-gray12);
  --color-heading: white;

  --color-success1: green;
  --color-success2: green;

  --color-warning1: orange;
  --color-warning2: orange;

  --color-danger1: red;
  --color-danger2: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: var(--font-family-heading);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:visited {
  color: var(--color-text);
}

svg {
  display: inline;
}
